<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Estado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="estado">
    <ion-card-header>
      <ion-card-subtitle>Atualizado: {{formatar(estado.datetime)}}</ion-card-subtitle>
      <ion-card-title>{{estado.state}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon color="danger" name="nuclear"></ion-icon>
          <ion-label slot="end">{{estado.cases}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon color="warning" name="warning"></ion-icon>
          <ion-label slot="end">{{estado.suspects}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon color="dark" name="skull"></ion-icon>
          <ion-label slot="end">{{estado.deaths}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
